body {
  background-color: white;
  font-family: serif;
  font-size: 1.5em;
  color: black;
}

p {
  font-size: 1.2em;
}

h2 {
  font-size: 1.2em;
}

.header-border {
  padding: .2em;
  border-width: .1em;
  border-style: solid;
  border-color: black;
}

.row-padding {
  padding: 0em;
}

.column-modifier {
  background-color: azure;
  color: black;
  border-radius: 0em;
  border-width: .3em;
  padding: .3em;
}

.jumbo-modifier {
  background-color: lightgrey;
  color: black;
}

.column-heading {
  /*border-radius: 0em;*/
  padding: .2em;
  border-width: .1em;
  border-style: solid;
}

img {
  max-height: 8em;
  width: auto;
}

img.featured {
  max-height: 16em;
  width: auto;
}

img.float-left {
  float: left;
  padding-right: 1em;
}

img.float-right {
  float: right;
  padding-left: 1em;
}

.panel-padding {
  padding: 0em;
}

.back_green {
  background-color: #e6ffe6;
}
.back_blue {
  background-color: azure;
}
.back_purple {
  background-color: #e6ccff;
}
h2.green{
  background-color: #1aff66;
}
h2.blue{
  background-color: #80ccff;
}
h2.purple{
  background-color: #b366ff;
}

.sidebar-border {
  border-width: thin;
  border-right-style: solid;
  background-color: lightgrey;
  text-align: center;
}

ul.no-bullets {
  list-style-type: none;
}

.page-color {
  background-color: white;
  padding-left: 2em;
  padding-right: 2em;
}
