body {
  background-color: white;
  font-family: serif;
  font-size: 1em;
}

.header-border {
  padding: .2em;
  border-width: .1em;
  border-style: solid;
  background-color: #00e6ac;
  border-color: darkgreen;
}

.row-padding {
  padding: 0em;
}

.container-color {
  color: black;
  font-size: 1.5em;
}

.column-modifier {
  background-color: azure;
  color: black;
  border-radius: 0em;
  border-width: .3em;
  padding: .3em;
}

.jumbo-modifier {
  background-color: white;
  color: black;
}

.column-heading {
  /*border-radius: 0em;*/
  padding: .2em;
  border-width: .1em;
  border-style: solid;
}

img {
  max-height: 8em;
  width: auto;
}

img.featured {
  max-height: 16em;
  width: auto;
}

img.float-left {
  float: left;
  padding-right: 1em;
}

img.float-right {
  float: right;
  padding-left: 1em;
}

.panel-padding {
  padding: 0em;
}

.back_green {
  background-color: #e6fffa;
}
.back_blue {
  background-color: azure;
}
.back_purple {
  background-color: mediumpurple;
}
